:root {
  background: #272727;
  font-family: 'Jetbrains Mono', monospace;
  margin: 60px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: aliceblue;
}

h1 {
  color: white;
}

h3 {
  color: bisque;
}

li {
  color: white;
}

a {
  color: cornflowerblue;
}

a:hover {
  color: coral;
}

img {
  border-radius: 50%;
}

.title{
  display: flex;
  flex-flow: wrap;
  padding: 15px;
  margin: auto;
}

.title-item {
  padding: 15px;
  text-align: center;
}

